* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
}

h4 {
    font-family: 'Cedarville Cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 53px;
}

p {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    letter-spacing: 0.001em;
    color: #444A4A;
}